{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Register by day</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</head>
<body>
	<div style="width:75%;">
        <canvas id="funchart2" width="75" height="50"></canvas>
	</div>

    <a href="/index">Index</a><br>

    <script type="text/javascript">
         var b = document.getElementById('funchart2').getContext('2d');
         var myLineChart = new Chart(b,
         {
                   type: 'line',
                   data:
                       {
                       labels:[{% for i in data %}'{{ i.date_reg|time:"H:i" }}',{% endfor %}],
                       datasets:
                            [{
                            label:'Temperature',
                            yAxisID: 't',
                            pointBorderWidth: 0,
                            borderColor: 'rgba(255, 99, 132, 0.5)',
                            backgroundColor: 'rgba(255, 99, 132, 0.8)',
                            data: [{% for i in data %}{% widthratio i.raw_temp 1000 1 %},{% endfor %}]
                            }]
                       },
                   options:
                       {
                       scales: {
                           xAxes: [{ display:true }],
                           yAxes: [{
                               id: 't',
                               type: 'linear',
                               position: 'left',
                               ticks: { beginAtZero:true, }
                                  }]
                               }
                       }
         });

    </script>
  <button onclick="nextPage();">Next page</button>
  <script>
    var pagn=0;
    function nextPage() {
      var thisLocation
	  pagn={% n_day %} + 1;
	  thisLocation= window.location.href;
	  thisLocation = thisLocation.substring(0, thisLocation.length-1);
	  window.location.replace(thisLocation + pagn);
    }

  </script>

</body>

</html>
