{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Statistics by day</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</head>
<body onload="initDataLoad">
	<div style="width:75%;">
        <canvas id="funchart2" width="75" height="50"></canvas>
	</div>
    <div id="return">
        <button onclick="drawChart();">Draw</button>
        <p ><a href="/index">Index</a></p>
    </div>
    <script type="text/javascript">
    var processID;

    function drawChart(){
         var b = document.getElementById('funchart2').getContext('2d');
         var myLineChart = new Chart(b, {
                   type: 'line',
                   data: {
                       labels:[{% for i in data %}'{{ i.hour_minute|time:"H:i" }}',{% endfor %}],
                       datasets: [{
                            label:'Average',
                            yAxisID: 'avg',
                            pointBorderWidth: 0,
                            borderColor: 'rgba(255, 99, 132, 0.5)',
                            backgroundColor: 'rgba(255, 99, 132, 0.8)',
                            data: [{% for i in data %}{% widthratio i.t_average 1000 1 %},{% endfor %}]
                                 }, {
                            label:'Control',
                            yAxisID: 'ctl',
                            borderColor: "#8e5ea2",
                            fill: false,
                            pointBackgroundColor: "#ffffff",
                            pointBorderWidth: 0,
                            data: [{% for i in data %}{% if i.t_control is True %}1
                            {% else %} 0 {% endif %},{% endfor %}]
                                 }]
                          },
                   options:{
                       scales: {
                           xAxes: [{
                               display:true
                                  }],
                           yAxes: [{
                               id: 'avg',
                               type: 'linear',
                               position: 'left',
                               ticks: {
                                   beginAtZero:true,
                                       }
                                   }, {
                               id: 'ctl',
                               type: 'linear',
                               position: 'right',
                               ticks: {
                                   // beginAtZero:true,
                                   min: -1,
                                   max: 2,
                                   }
                                }]
                            }}});
    }

    processID = setInterval(drawChart, 5000000);

    </script>

</body>


</html>
