{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</head>
<body>

    <canvas id="funchart" width="75" height="50"></canvas>
    <canvas id="funchart2" width="75" height="50"></canvas>

    <script type="text/javascript">
         var a = document.getElementById('funchart').getContext('2d');
         var myLineChart = new Chart(a, {
                   type: 'line',
                   data: {
                       labels:[{% for i in data %}'{{ i.hour_minute|time:"H:i" }}',{% endfor %}],
                       datasets: [{
                            label:'Day',
                            data: [{% for i in data %}{% widthratio i.t_average 1000 1 %},{% endfor %}]
                                 }]
                          },
                   options:{
                       scales: {
                           xAxes: [{
                               display:true
                                  }],
                           yAxes: [{
                               ticks: {
                                   beginAtZero:true
                                       }
                                   }]
                                }
                            }
                          });
    </script>


</body>


</html>